# Compiled output
target/

# Log files
*.log

# Maven Wrapper JAR (should be committed)
# .mvn/wrapper/maven-wrapper.jar

# IDE configuration files
.idea/
*.iml
.vscode/
.classpath
.project
.settings
.factorypath

# STS/Eclipse
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/